.sectionContainer {
  display: flex;
  width: 100%;
  background-color: rgb(239 239 239 / 93%);
  flex-direction: column;
  padding-bottom: 5em;
}

.sectionLayout {
  height: fit-content;
  margin: 0px auto;
  width: fit-content;
}

.sectionLayout > h1 {
  display: inline-flex;
  font-weight: 800;
  color: black;
}
