.skill-Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding-inline-start: 2em;
}

.skillSection {
  display: inline-flex;
  flex-direction: column;
}
.skillTitle {
  font-size: 3vh;
  font-weight: 800;
}
.skillCardSection {
  width: 100%;
  margin-top: 1em;
  flex-direction: row;
}
.skillCard {
  border: 1px solid black;
  width: 130px;
  display: inline-grid;
  margin-right: 1em;
  margin-top: 0.5em;
}
.skillCard > i {
  font-size: 5vw;
  margin: auto auto 5px;
}
.skillCard > span {
  margin: auto;
  margin-bottom: 0.5em;
}
