.skill-Container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 90%;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}

.skillSection {
  width: 25%;
  margin: auto;
}

.skillInfo {
  width: 100%;
  margin: 4em auto;
}
.skillInfo > i {
  font-size: 65px;
  margin: 15px;
}
.backendElement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 800px) {
  .skill-Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    justify-content: space-between;
    text-align: center;
    margin: auto;
  }
  .skillSection {
    width: 100%;
  }
  .backendElement {
    justify-content: center;
  }
}
