.titleContainer {
  display: flex;
  color: white;
  height: 20vh;
  width: fit-content;
  margin: 7em auto auto;
  justify-content: center;
  align-items: center;
}
.titleH1 {
  display: inline-flex;
  font-size: 9vw;
  font-weight: 450;
}
@media (max-width: 50em) {
  .titleH1 {
    display: inline-flex;
    font-size: 50px;
    font-weight: 450;
  }
  .titleContainer {
    display: flex;
    color: white;
    height: 15vh;
    width: fit-content;
    margin: 7em auto auto;
    justify-content: center;
    align-items: center;
  }
}
